[submodule "externals/EasyStorage"]
	path = externals/EasyStorage
	url = git@github.com:dmanning23/EasyStorage.git
[submodule "externals/Filename"]
	path = externals/Filename
	url = git@github.com:dmanning23/Filename.git
[submodule "externals/MonoGame"]
	path = externals/MonoGame
	url = git@github.com:dmanning23/MonoGame.git
